<div class="container d-flex justify-content-center mt-4 align-middle">
  <h1> <%= @cocktail.name %> <i class="fas fa-cocktail"></i></h1>
</div>

<div class="container">
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col">
      <div class="d-flex justify-content-center">
        <h2 class="mb-4">Ingredients list</h2>
      </div>
      <%= render 'cocktails/shared/table', doses: @doses %>
    </div>
    <div class="col d-flex justify-content-center mt-4 pt-4">
      <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
    </div>
  </div>
</div>

<div class="container">
  <%= link_to "Add Ingredient",  new_cocktail_dose_path(@cocktail), class: "btn btn-primary"%>
  <%= link_to "Back",  cocktails_path, class: "btn btn-outline-primary"%>
</div>